{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row navbar">
        <div class="col-3 titre">
            <i class="fas fa-plane-departure"></i>
            TravelBook
        </div>
        <div class="col-2 onglet">
            Nos Séjours
        </div>
        <div class="col-2 onglet">
            Club Wild
        </div>
        <div class="col-2 onglet">
            Club OC
        </div>
        <div class="col-2 promo">
            Bon Plan
        </div>
        <div class="col-1">
            <i class="fas fa-user"></i>
        </div>
    </div>
</div>
</header>
<main>

    Content !

</main>

{% endblock %}