{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row navbar">
        <div class="col-3 titre">
            <i class="fas fa-plane-departure"></i>
            TravelBook
        </div>
        <div class="col-2 onglet">
            Nos Séjours
        </div>
        <div class="col-2 onglet">
            Club Wild
        </div>
        <div class="col-2 onglet">
            Club OC
        </div>
        <div class="col-2 promo">
            Bon Plan
        </div>
        <div class="col-1">
            <i class="fas fa-user"></i>
        </div>
    </div>
</div>
</header>
<main>
    <div class="container-fluid">
        <div class="row justify-content-center center">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="{% static 'main/frontend/photos/londres.webp' %}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Londres</h5>
                        <p class="card-text">Vibrez aux cloches du célèbre Big-Ben.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-plane-departure"></i> Plus...</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="{% static 'main/frontend/photos/new-york.jpg' %}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">New York</h5>
                        <p class="card-text">Croquez à pleines dents la grosse pomme !</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-plane-departure"></i> Plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="{% static 'main/frontend/photos/bordeaux.jpg' %}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bordeaux</h5>
                        <p class="card-text">Découvrez les terres du bordeaux.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-plane-departure"></i> Plus...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}