html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #183153;
    height: auto;
    color: whitesmoke;
    text-align: center;
}

.navbar-mini {
    background-color: #183153;
    height: auto;
    color: whitesmoke;
    position: absolute;
    visibility: hidden;
}

#menu {
    visibility: hidden;
    position: absolute;
    background-color: #183153;
    color: whitesmoke;
}

header .fa-plane-departure, .fa-user {
    color: #ffd43b;
    cursor: pointer;
}

.fa-bars {
    color: #ffd43b;
    cursor: pointer;
    font-size: 5vh;
}

.titre {
    cursor: pointer;
}

.onglet {
    cursor: pointer;
    text-align: center;
}

.onglet:hover {
    background-color: #ffd43b;
    color: #183153;
    border-radius: 5%;
}

.promo {
    color: rgb(221, 34, 34);
    cursor: pointer;
    text-align: center;
}

.promo:hover {
    background-color: #ffd43b;
    color: #d40e14;
    border-radius: 5%;
}

footer .navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
}

.card {
    height: 65vh;
    width: 50vh;
    margin: 10vh 5vh 10vh 0;
}

.card-img-top {
    height: 30vh;
    width: 50vh;
}

.btn-primary {
    background-color: #183153;
    color: whitesmoke;
    border: none;
}

.btn-primary:hover {
    background-color: #ffd43b;
    color: #183153;
}

@media (max-width: 625px) {
    .navbar {
        position: absolute;
        visibility: hidden;
    }
    
    .navbar-mini {
        position: static;
        visibility: visible;
    }

    footer .navbar {
        visibility: visible;
    }
}

@media (max-width: 995px) {
    .card, .card-img-top {
        width: 45vh;
    }
}

@media (max-width: 900px) {
    .card, .card-img-top {
        width: 40vh;
    }
}

@media (max-width: 900px) {
    .card, .card-img-top {
        width: 40vh;
    }
}

@media (max-width: 767px) {
    .card, .card-img-top {
        width: 60vh;
    }
}
